
body{
  /* padding-top: 56px; */
}
.btn-primary{
    background-color: #0162DA;
    border-color: whitesmoke;
}
.bg-primary{
  background-color: #70A8CA;
}

.bg-blue{
  background-color: #70A8CA;
}
.hero{
  background-image: url('https://cdn.pixabay.com/photo/2020/09/01/06/00/sky-5534319_1280.jpg');
  background-position: 'center';
  background-repeat: 'no-repeat';
  background-size: cover;
}
.underlined{
  text-decoration: underline;
}
.no-flow{
  text-align: left;
}